#name: Run Robot Framework Tests
#
#on:
#  push:
#    branches: [master]
#  pull_request:
#    branches: [master]
#  workflow_dispatch:
#
#jobs:
#  robot-test:
#    runs-on: ubuntu-latest
#    env:
#      CI: true
#    steps:
#      - name: Checkout source code
#        uses: actions/checkout@v3
#
#      - name: Setup Python
#        uses: actions/setup-python@v4
#        with:
#          python-version: '3.10'
#
#      - name: Install dependencies
#        run: |
#          pip install robotframework robotframework-seleniumlibrary
#
#
#      - name: Run Robot Framework tests
#        run: |
#          robot --output output.xml --report report.html --log log.html TestCase/
#
#      - name: Upload Robot Framework Report
#        uses: actions/upload-artifact@v4
#        with:
#          name: robot-report
#          path: |
#            output.xml
#            report.html
#            log.html


name: Run Robot Framework Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  robot-test:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install robotframework robotframework-seleniumlibrary

      - name: Check dependencies
        run: |
          pip list

      - name: Run Robot Framework tests
        run: |
          robot --outputdir ./TestReport ./TestCase/

      - name: Check folder structure
        run: |
          ls

      - name: Upload Robot Framework Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-report
          path: |
            log/output.xml
            log/report.html
            log/log.html